#topo-contato{
  height: 20em!important;
  background-position: center;
  background-image: url('../img/contato.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  z-index: 4;
  &:after{
    @include pseudo();
    @include overlay();
    background-color: rgba(0,0,0,0.8);
  }
}
#content-contato{
  background-color: $bg-sessao;
  .level-item{
    h2.title{
      color: $cor-hawks;
      font-size: 3rem;
      font-weight: 600;
    }
    p.subtitle{
      font-style: normal;
      font-size: 1rem;
      font-weight: 400;
      color: darken($cinza, 30%);
    }
  }
  div.lado-direito-contato{
    p{
      font-size: 2rem;
      font-style: normal;
      font-weight: 400;
      color: darken($cinza, 5%);
      i{
        color: $cor-hawks;
      }
    }
    h2{
      color: darken($cinza, 25%);
      font-weight: 700;
    }
  }
  div.servicos-contato{
    h2{
    color: $cor-hawks;
    font-weight: 700;
    }
    li{
      font-size: 1.4rem;
    }
  }
}
