$cor-hawks: #155592;
$cor-hawks-secundaria: #f5f6ff;
$whatsapp: #00e872;
$facebook: #4267b2;
$transparente: transparent;
$instagram: black;
$cor-teste: red;
$cinza: #a7a7a7;
$bg-sessao: white;
$cor-borda: #dcdbdb;
$preto-hawks: #1a2633;
