#topo-single{
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 30em!important;
  position: absolute;
  z-index: 4;
  top: 0;
  .breadcrumb-single{
    position: relative;
    bottom: 15%;
    z-index: 10;
    top: 20em;
    p{
      color: white;
      font-style: normal;
      font-weight: 400;
    }
  }
  &:after{
    @include overlay();
    @include pseudo();
    background-color: rgba(0,0,0,0.7);
  }
}
#content-single{
  margin-top: 30em;
  background-color: $bg-sessao;
  .wrap-h1 h1{
    color: $cor-hawks;
    font-size: 3rem;
    font-weight: 600;
  }
  .wrap-meta p{
    color: $cinza-sessao;
    font-size: 1rem;
    font-weight: 400;
  }
  .conteudo-single{
    img {max-width: 100%;};
    p{
      font-style: normal;
      font-size: 1.2rem;
      font-weight: 400;
      color: $preto-hawks;
    }
    h2, h3, h4, h5, h6{
      color: $cinza-sessao;
      font-size: 2rem;
      padding: 1em 0em;
    }
    img.alignleft{
      float: left;
      margin-right: 1em;
    }
    img.alignright{
      float: right;
      margin-left: 1em;
    }
  }
  .acf-cta-p{
    font-size: 2rem;
    font-style: italic;
    font-weight: 400;
    color: $cinza;
  }
  .end-post{
    border-bottom: 1px solid $cor-hawks;
    width: 100%;
  }
}
