@import 'cores';
@import 'mixins';
@import 'bulma';
@import 'modal';
@import 'sidebar';
a:link, a:hover, a:active, a:visited {
	color: inherit;
	text-decoration: none;
}
.clear{
	clear: both;
}
.so-cel{
	display: none !important;
}
.espaco-padding-v{
	padding: 2em 0em
}
.espaco-margin-v{
	margin: 2em 0em;
}
#toggle-sidebar-2{
	cursor: pointer;
}
$altura-slider: 750px;
.menu-fixo{
	width: 100%;
	background-color: rgba(255,255,255,0.97);
	height: auto;
	position: fixed;
	top: -300px;
	z-index: 50;
	@include transition(top 0.7s ease-in-out);
	@include box-shadow(0px 2px 5px $preto-hawks);
}
header{
	position: absolute;
	top: 0;
	width: 100%;
	height: auto;
	background-color: $transparente;
	z-index: 25;
	@extend %transitions;
	.topo-site{
		position: relative;
		top: 0;
		padding: .5em 0em;
		background-color: transparent;
			.level-right{
				color: white;
				.level-item{
						font-size: 1.4rem;
						margin-bottom: 0;
					i{
						  text-align: center;
							padding-left: .6rem;
					}
					.fa-whatsapp{
						&:hover{
							@include animation(shake 0.82s cubic-bezier(.36,.07,.19,.97) both);
							color: $whatsapp;}
					}
					.fa-facebook{
						&:hover{
							@include animation(shake 0.82s cubic-bezier(.36,.07,.19,.97) both);
							color: $facebook;}
					}
					.fa-instagram{
						&:hover{
							@include animation(shake 0.82s cubic-bezier(.36,.07,.19,.97) both);
							color: $instagram;}
					}
					.fa-envelope{
						&:hover{
							@include animation(shake 0.82s cubic-bezier(.36,.07,.19,.97) both);
							color: $cor-hawks;}
					}
				}
			}
			.level-left{
				.subtitle{
					color: white;
					strong{
						color: white;
						text-shadow: 0px 0px 10px $cor-hawks;
						padding: 0em .3em;
						background-color: $cor-hawks;
					}
				}
			}
	}
	.menu{
		padding: 2em 0em;
		a.link{
			font-size: 1.2rem;
			color: $cor-hawks-secundaria;
			&:hover{
				color: white;
			}
		}
	}
	i.fa-bars{
		font-size: 2rem;
		color: $cor-hawks;
	}
	.bto-top{
		color: $cor-hawks;
		@include box-shadow(0px 0px 15px $cor-hawks);
		@include transition(.2s ease-in-out);
		&:hover{
			border: 1px solid $cor-hawks-secundaria;
			color: $cor-hawks-secundaria;
			background-color: $transparente;
			@include box-shadow(0px 0px 15px $cor-hawks-secundaria);
		}
	}
}
section:not(#slider) {
	width: 100%;
	height: auto;
	padding: 2em 0em;
	h3{
		font-weight: 800;
		font-size: 6rem;
		padding: .1em 0em .2em 0em;
	}
	p{
		font-size: 1.2rem;
		font-style: italic;
		font-weight: 600;
		color: $preto-hawks;
	}
	h5{
		color: $preto-hawks;
		font-size: 4rem;
		font-weight: 800;
		padding-bottom: 1.5rem;
		@include transition(all 2s ease-out);
		&:hover{
			@include scale(1.15);
		}
	}
}
#slider{
	&:hover{
	cursor: grab;
}
		.carousel-item {
		  height: 100vh;
		  min-height: 350px;
		  background: no-repeat center center scroll;
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
			.the-wrap{
				height: 100%;
				width: 100%;
				position: absolute;
				top: 0;
				&:before{
					@include pseudo();
					height: 100%;
					width: 100%;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					background: rgba(0,0,0,0.7);
					z-index: 1;
				}
			}
			.the-wrap-slider-2{
				height: 100%;
				width: 100%;
				position: absolute;
				top: 0;
				&:before{
					@include pseudo();
					height: 100%;
					width: 100%;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					background: rgba(0,0,0,0.2);
					z-index: 1;
				}
			}
			.the-wrap-slider-3{
				height: 100%;
				width: 100%;
				position: absolute;
				top: 0;
				&:before{
					@include pseudo();
					height: 100%;
					width: 100%;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					background: rgba(0,0,0,0.7);
					z-index: 1;
				}
			}
		}
		.content-slider{
			opacity: 1;
			position: relative;
			top: 50%;
			z-index: 5;
			@include translateY(-50%);
		}
		.slider-1{
			text-align: center;
			h2{
				color: white;
				font-weight: 800;
				text-transform: uppercase;
				font-size: 3rem;
				span{
					text-shadow: 0px 0px 15px $cor-hawks;
				}
			}
			h3{
				color: white;
				font-weight: 400;
				font-size: 2rem;
				line-height: 35px;
			}
		}
		.slider-2{
			text-align: left;
			small{
				color: white;
				font-size: 1rem;
			}
			p{
				color: white;
				font-size: 1.2rem;
				i{color: yellow;}
			}
			h2{
				font-weight: 800;
				text-transform: uppercase;
				font-size: 4rem;
				color: orange;
				text-shadow: 0px 0px 3px $preto-hawks, 1px 1px 5px $preto-hawks, -1px -1px 5px white, 0px 0px 15px $preto-hawks;
				@media screen and (max-width: 768px){
					font-size: 2.7rem;
				}
			}
			h3{
				color: white;
				font-weight: 400;
				text-transform: capitalize;
				font-size: 2rem;
				margin-bottom: 0px;
			}
			.button{
				background-color: white;
		    padding: 1.2em 2em;
		    font-size: 1.2rem;
		    border: 1px solid transparent;
		    color: $cor-hawks;
				@include transition(.3s ease);
				&:hover{
					background-color: $cor-hawks;
					padding: 1.2em 2em;
					font-size: 1.2rem;
					border: 1px solid $cor-hawks;
					color: $cor-hawks-secundaria;
					@include box-shadow(0px 0px 10px $cor-hawks);
				}
			}
		}
		.slider-3{
			text-align: left;
			h2{
				color: white;
				font-weight: 800;
				text-transform: uppercase;
				font-size: 3rem;
			}
			h3{
				color: white;
				font-weight: 400;
				text-transform: capitalize;
				font-size: 2rem;
			}
			.button{
				background-color: white;
		    padding: 1.2em 2em;
		    font-size: 1.2rem;
		    border: 1px solid transparent;
		    color: $cor-hawks;
				@include transition(.3s ease);
				&:hover{
					background-color: $cor-hawks;
					border: 1px solid $cor-hawks;
					color: $cor-hawks-secundaria;
					@include box-shadow(0px 0px 10px $cor-hawks);
				}
				@media screen and (max-width: 768px){
					padding: 1em 2em 2.3em 2em;
				}
			}
		}
		.carousel-control-prev{
			z-index: 7;
			opacity: 0;
			transition: .4s ease;
		}
		.carousel-control-next{
			z-index: 7;
			opacity: 0;
			transition: .4s ease;
		}
		.scroll-to-section-2{
			position: relative;
	    z-index: 45;
	    top: calc(100vh - 50px);
	    left: 50%;
	    @include translateX(-50%);
	    font-size: 1.3rem;
			background-color: transparent;
			border: 0;
			cursor: pointer;
			i{
				@include animation(seta 1.5s infinite);
				color: white;
			}
		}
}
#baixo-banner{
	background-color: $cor-hawks-secundaria;
	.chama-form{
		color: $preto-hawks;
		text-align: left;
		h3{
			font-weight: 800;
			font-size: 6rem;
			padding: .1em 0em .2em 0em;
			//color: $cor-hawks;
		}
		h4{
			line-height: 1.5;
			padding-bottom: .5em;
		}
		p{
			font-size: 1.2rem;
			font-style: italic;
			font-weight: 600;
		}
		a.button{
			background-color: $whatsapp;
	    padding: 1em;
	    font-size: 1.5rem;
	    color: white;
			font-weight: 600;
		}
	}
	.formulario-topo{
		label{
			color: $preto-hawks;
			font-size: 1.3rem;
		}
		input, textarea, select{
			border: 1px solid #dcdbdb;
			color: $preto-hawks;
			@include border-radius(0px);
			&:focus{
				@include box-shadow(0px 0px 5px $cor-hawks);
				color: $cor-hawks;
				border: 1px solid $cor-hawks;
			}
		}
		select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0px;
    background-image: url("https://image.flaticon.com/icons/svg/128/128518.svg");
    background-position: 99% 50%;
    background-repeat: no-repeat;
    background-size: 16px;
		}
		#send-again{
			opacity: 0;
			@include transition(opacity 1s ease-in-out, width .4s);
		}
	}
	.bt-form{
		border: 1px solid $cor-borda;
		background-color: $transparente;
		width: 40%;
		color: $preto-hawks;
		font-size: 1.4rem;
		@include border-radius(0px);
		@include transition(width .4s, linear .2s);
		@include animation(borda 3s infinite);
		&:focus{
			border: 1px solid $cor-hawks;
			background-color: $cor-hawks;
			color: $cor-hawks-secundaria !important;
			width: 100%;
			&:hover{
				border: 1px solid $cor-hawks;
				background-color: $cor-hawks;
				color: $cor-hawks-secundaria;
				width: 100%;
			}
		}
		&:hover{
			width: 42%;
			border: 1px solid $cor-hawks;
			color: $cor-hawks;
			@include animation(borda 1s);
		}
	}
}
#nossos-trabalhos{
	background-color: $bg-sessao;
	.box-jobs{
		padding: 1em;
		@include border-radius(5px);
		&:hover{
			@include box-shadow(0px 0px 5px $cinza);
			background-color: $cor-hawks-secundaria;
			.header-box-jobs{
				@include animation(shake 0.82s cubic-bezier(.36,.07,.19,.97) both);
			}
			i{
				@include box-shadow(0px 0px 2px $preto-hawks);
				background-color: $cor-hawks;
				color: $cor-hawks-secundaria;
				border: 1px solid $transparente;
			}
			.footer-box-jobs{
				button.button-box-jobs{
					background-color: $cor-hawks;
				}
			}
		}
		i{
			color: $preto-hawks;
			border: 1px solid $preto-hawks;
			background-color: $transparente;
			@include border-radius(50%);
			font-size: 2.3rem;
			padding: .8em;
			@include transition(all .2s ease-out);
		}
		.body-box-jobs{
			padding: 1em 0em .6em 0em;
			h6{
				color: $preto-hawks;
				font-size: 2rem;
				text-align: center;
			}
			p{
				font-style: normal;
				font-size: 11pt;
		    line-height: 1.7;
		    font-weight: 300;
		    color: #222;
		    margin-bottom: 3%;
		    text-align: justify;
			}
		}
		.footer-box-jobs{
			button.button-box-jobs{
				background-color: $preto-hawks;
				border: 1px solid $transparente;
				color: $cor-hawks-secundaria;
				width: 100%;
				padding: .6em 0em;
				@include transition(.3s ease-in-out);
				&:hover{
					border: 1px solid $cor-hawks;
					color: $cor-hawks-secundaria;
					@include box-shadow(0px 0px 15px $cor-hawks);
					@include border-radius(10px);
				}
			}
		}
	}
}
#responsivo{
	background-color: $preto-hawks;
	padding-bottom: 2em!important;
	.hero-responsivo{
		h3{
			color: $cor-hawks-secundaria;
			@media screen and (max-width: 768px){
				font-size: 4rem;
			}
			span{
				@media screen and (max-width: 768px){
					display: none;
				}
			}
		}
		p{
			color: $cor-hawks-secundaria;
			font-style: normal;
		}
		button{
			background-color: $cor-hawks-secundaria;
	    padding: .6em 1em;
	    font-size: 1.5rem;
	    color: $preto-hawks;
	    border: 1px solid $cor-hawks-secundaria;
			@include transition(all .4s ease-in-out);
			&:hover{
				background-color: $cor-hawks;
				border: 1px solid $cor-hawks;
				color: $cor-hawks-secundaria;
				@include box-shadow(0px 0px 7px $cor-hawks);
			}
			@media screen and (max-width: 768px){
				width: 100%;
			}
		}
	}
	#carousel{
		.item{
			.tela-carousel{
				background-position: center center;
				background-size: contain;
				background-repeat: no-repeat;
				width: auto;
				height: 100%;
				padding: 55% 0;
			}
			.tela-1{background-image: url('../img/imac.png');}
			.tela-2{background-image: url('../img/ipad.png');}
			.tela-3{background-image: url('../img/iphone.png');}
		}
	}
}
#vem-pra-hawks{
	background-color: $cor-hawks-secundaria;
	.metodo-box{
		padding: .3em;
		&:hover{
			[class*='icon-']{
					filter: grayscale(0);
					@include scale(1.1);
				}
		}
		.icon-metodo-box{
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			width: 3em;
			height: 3em;
			filter: grayscale(1);
			@include transition(all .2s ease);
		}
		.icon-1{background-image: url('../img/circ-1.png');}
		.icon-2{background-image: url('../img/circ-2.png');}
		.icon-3{background-image: url('../img/circ-3.png');}
		.icon-4{background-image: url('../img/circ-4.png');}
		.icon-5{background-image: url('../img/circ-5.png');}
		.icon-6{background-image: url('../img/circ-6.png');}
		h6{
			font-size: 1.7rem;
			color: $preto-hawks;
		}
		p{
			font-style: normal;
			color: $preto-hawks;
			font-weight: 400;
		}
	}
}

@import 'media';
